@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: white;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.place-lener {
  background: url('../public/bg-place.webp') center no-repeat;
  background-size: cover;
  padding: 65px 0;
}

#thanks-lener header {
  display: none;
}

@media (min-height: 580px) and (max-height: 700px) {
  
}